---
import Layout from '../../layouts/Layout.astro';
import GlobalHeader from '../../components/GlobalHeader.astro';
---

<Layout
  title="会社概要 | 株式会社Lumilinks"
  description="Lumilinksの会社概要です。Lumilinksはデザイナーのこぎそが運営する小さな会社です。"
>
  <head>
    <!-- 外部ドメインへの事前接続 -->
    <link rel="preconnect" href="https://x.com" />
    <link rel="preconnect" href="https://bnn.co.jp" />
  </head>

  <section class="pt-16">
    <GlobalHeader />
    <div class="grid grid-cols-1 gap-4 mb-8 pt-16">
      <h1 class="text-4xl sm:text-5xl font-normal mb-8">会社概要</h1>
    </div>
    <div class="flex flex-col gap-8">
      <div>
        <h3 class="font-semibold">社名（日本語）：</h3>
        <p>株式会社Lumilinks（ルミリンクス）</p>
      </div>
      <div>
        <h3 class="font-semibold">社名（英語）：</h3>
        <p>Lumilinks inc.</p>
      </div>
      <div>
        <h3 class="font-semibold">住所：</h3>
        <p>
          〒150-0043 <br />東京都渋谷区道玄坂1丁目10番8号渋谷道玄坂東急ビル2F−C
        </p>
      </div>
      <div>
        <h3 class="font-semibold">代表取締役：</h3>
        <div class="flex flex-col gap-4">
          <p>
            こぎそ / <a
              href="https://x.com/kgsi"
              target="_blank"
              rel="noopener"
              class="underline hover:no-underline">X（旧Twitter）</a
            >
          </p>
          <p>
            受託制作会社でデザイナー・エンジニアとして勤務後、さくらインターネット株式会社のデザインエンジニアとしてプロダクト開発に従事。2020年に株式会社SmartHRに入社、プロダクトデザイナーとしてプロダクトの開発やデザインシステム・UIコンポーネント設計などにも携わる。2024年に生成AIベンチャーに勤務後、2025年からスタートアップの1人目デザイナーとして活動。<br
            />
             パラレルキャリアを標榜し、副業でエンジニア・デザイナー・アドバイザーとして活動、個人会社として株式会社Lumilinks（ルミリンクス）を設立。著書に<a
              class="underline hover:no-underline"
              href="https://bnn.co.jp/products/9784802512480"
              target="_blank"
              rel="noopener">『ちいさくはじめるデザインシステム（BNN）』</a
            >など。
          </p>
        </div>
      </div>
      <div>
        <h3 class="font-semibold">資本金：</h3>
        <p>500,000円</p>
      </div>
      <div>
        <h3 class="font-semibold">設立：</h3>
        <p>2025年3月17日</p>
      </div>
      <div>
        <h3 class="font-semibold">事業内容：</h3>
        <ul class="list-disc pl-8 flex flex-col gap-2">
          <li>ウェブ・スマートフォンアプリの設計・UIデザイン・開発</li>
          <li>デザインコンサルティング、アドバイザー</li>
          <li>コミュニティ企画・運営</li>
          <li>PR・採用活動支援</li>
          <li>自社サービスの企画・開発・運用</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
