---
import Layout from '../../layouts/Layout.astro';
import GlobalHeader from '../../components/GlobalHeader.astro';
---

<Layout>
  <section class="pt-16">
    <GlobalHeader />
    <div class="grid grid-cols-1 gap-4 mb-8 pt-16">
      <h1 class="text-5xl mb-8">会社概要</h1>
    </div>
    <div class="flex flex-col gap-8">
      <div>
        <h3>社名：</h3>
        <p>Lumilinks inc.</p>
      </div>
      <div>
        <h3>住所：</h3>
        <p>
          〒150-0043 <br />東京都渋谷区道玄坂1丁目10番8号渋谷道玄坂東急ビル2F−C
        </p>
      </div>
      <div>
        <h3>代表取締役：</h3>
        <p>こぎそ（@kgsi）</p>
        <p>
          受託制作会社でデザイナー・エンジニアとして勤務後、事業会社のデザインエンジニアとしてプロダクト開発に従事。2020年に株式会社SmartHRに入社、プロダクトデザイナーとしてプロダクトの開発やデザインシステム・UIコンポーネント設計などにも携わる。2024年に生成AIベンチャーに勤務後、2025年からスタートアップの1人目デザイナーとして活動。
          パラレルキャリアを標榜し、副業でエンジニア・デザイナー・アドバイザーとして活動中。著書に『ちいさくはじめるデザインシステム（BNN）』など。
        </p>
      </div>
      <div>
        <h3>資本金：</h3>
        <p>500,000円</p>
      </div>
      <div>
        <h3>設立：</h3>
        <p>2024年3月17日</p>
      </div>
      <div>
        <h3>事業内容：</h3>
        <ul class="list-disc pl-8 flex flex-col gap-4">
          <li>ウェブ・スマートフォンアプリの設計・UIデザイン・開発</li>
          <li>情報設計、デザインコンサルティング、デザインアドバイザー</li>
          <li>コミュニティ企画・運営、PR支援</li>
          <li>自社サービスの企画・開発・運用</li>
        </ul>
      </div>
    </div>
  </section>
</Layout>
