---
import Layout from '../../layouts/Layout.astro';
import GlobalHeader from '../../components/GlobalHeader.astro';
---

<Layout
  title="お問い合わせ完了 | 株式会社Lumilinks"
  description="Lumilinksのお問い合わせを受け付けました。順次ご連絡いたします。"
>
  <section class="pt-16">
    <GlobalHeader />
    <div class="grid grid-cols-1 gap-4 mb-8 pt-16">
      <h1 class="text-5xl mb-8">お問い合わせ完了</h1>

      <div class="mb-8">
        <p class="mb-4">お問い合わせを受け付けました。順次ご連絡いたします。</p>
        <p class="mb-4">
          通常、お問い合わせから3営業日以内にご返信いたします。
          ご連絡がない場合は、お手数ですが<a
            href="https://x.com/kgsi"
            class="underline">SNS</a
          >よりお問い合わせください。
        </p>
      </div>
    </div>
  </section>
</Layout>
