---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import NoteArticleList from '../components/NoteArticleList.astro';
import { getNoteArticles } from '../utils/note-rss';
import GlobalHeader from '../components/GlobalHeader.astro';

import imageCrossRel from '../assets/crossrel.png';
import imageDesignerMentor from '../assets/designer-mentor.png';

const NOTE_RSS_URL = 'https://note.com/kgsi/rss';
const noteArticles = await getNoteArticles(NOTE_RSS_URL);
---

<Layout>
  <div class="flex flex-col gap-32">
    <div class="h-screen">
      <div class="flex flex-col gap-12 justify-between h-full pt-16 pb-64">
        <GlobalHeader />
        <div class="flex flex-col gap-4">
          <h1
            class="text-[clamp(2.5rem,5vw,4rem)] leading-tight break-keep font-normal"
          >
            デザインと、<wbr />テクノロジーと、<wbr />コミュニティの<wbr
            />会社です。
          </h1>
          <p>
            Lumilinks（ルミリンクス）はデザイナーのこぎそが運営する小さな会社です。デザインとエンジニアリングを軸に、AIなどのテクノロジーを駆使し、人と人をつなぎ、新しい価値をつくります。
          </p>
        </div>
      </div>
    </div>

    <section class="flex flex-col gap-8">
      <h2 class="font-semibold">提供サービス：</h2>
      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-4">
          <h3 class="text-4xl font-normal">開発・デザイン</h3>
          <p>
            デジタルプロダクトやサービス開発の専門家として、企画から設計・デザイン・実装に至るまでをサポートします。情報設計デザインから、開発プロセスのマネジメントまで幅広く対応し、クライアントのビジネスゴールを的確に捉えながら、ユーザーにとって使いやすく、価値のあるプロダクトを伴奏して作ります。
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="text-4xl font-normal">デザイン顧問</h3>
          <p>
            デザインプロセスの効率化や、組織構築支援などをサポートするコンサルティングサービスを提供します。デザインシステムの構築・運用における豊富な経験を活かし、一貫性のあるユーザー体験の実現をサポート。デザイナーの責任領域の定義やフィードバック体制の確立、フェーズに合わせた品質と速度のバランス調整、組織のデザイン力を高めるための包括的なアドバイスを行います。
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="text-4xl font-normal">デザイナーメンター・教育サポート</h3>
          <p>
            15年以上のデザイナー経験を活かして、デザイナーの成長をサポートするメンターサービスやカリキュラムを提供しています。
            メンティーのスキルや経験を考慮し、最適なフィードバックとキャリアサポートを行います。
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <h3 class="text-4xl font-normal">コミュニティ・<wbr />PR支援</h3>
          <p>
            コミュニティのメンバーが安心して交流し、知識を共有し合いながら成長できる場をつくっています。オンライン・オフラインを問わず、イベント企画やコンテンツ制作、ファシリテーションなどを幅広く手掛け、一人ひとりの思いや目標が最大限に活かされるようサポートします。
            デザイナーや開発職採用支援、広報活動支援なども行なっています。
          </p>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-8">
      <h2 class="font-semibold">運営：</h2>
      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-4">
          <h3 class="text-4xl font-normal">
            <a
              href="https://crossrel.jp/"
              target="_blank"
              rel="noopener"
              class="underline hover:no-underline">CrossRel</a
            >
          </h3>
        </div>
        <p>
          「CrossRel」は、テック業界の多様な才能を集め、ナレッジや人が交差するイベントコミュニティです。
          個の力だけでは成し得ない、交差することで生まれる新たな価値創造を目指します。
        </p>
        <Image
          src={imageCrossRel}
          alt="CrossRelのスクリーンショット"
          width={800}
          height={400}
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-4xl font-normal">
          <a
            href="https://menta.work/plan/2529"
            target="_blank"
            rel="noopener"
            class="underline hover:no-underline">デザイナーメンター</a
          >
        </h3>
        <p>
          15年以上の実績から、デザイナーの悩みや課題解決の相談やスキルアップのためのデザイナーメンターサービスを提供しています。
        </p>
        <Image
          src={imageDesignerMentor}
          alt="デザイナーメンターサービスの説明画像"
          width={800}
          height={400}
          loading="lazy"
          decoding="async"
        />
      </div>
    </section>
  </div>
  <section class="flex flex-col gap-8">
    <h2 class="font-semibold">記事:</h2>
    <div>
      <NoteArticleList articles={noteArticles} limit={6} />
    </div>
  </section>
</Layout>
