---
import '../css/global.css';
---

<!doctype html>
<html lang="ja" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="robots" content="noindex" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>Lumilinks inc. | デザインと、開発と、コミュニティの会社</title>
    <script is:inline>
      // クライアントサイドでのテーマ初期化スクリプト
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        document.documentElement.classList.remove('light');
      } else {
        document.documentElement.classList.remove('dark');
        document.documentElement.classList.add('light');
      }
    </script>
  </head>
  <body
    class="bg-white text-black dark:bg-black dark:text-white transition-colors duration-300"
  >
    <div
      class="box-content max-w-(--body-column) pr-(--body-padding-right) pl-(--body-padding-left) *:mx-auto *:w-[round(down,100%,1rem)]"
    >
      <slot />
      <footer class="mt-32 pb-16">
        <address class="not-italic">
          Copyright Lumilinks inc. ALL Rights Reserved.
        </address>
      </footer>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
