name = "rss-trigger-build"
main = "rss-trigger-build.js"
compatibility_date = "2023-10-30"

# KVネームスペースの設定
kv_namespaces = [
  { binding = "RSS_MONITOR", id = {YOUR_KV_NAMESPACE_ID} }
]

# 環境変数の設定
[vars]
# デプロイフックURLを設定（実際のURLに置き換えてください）
DEPLOY_HOOK_URL = {DEPLOY_HOOK_URL}

# スケジュール設定（毎週金曜日の午前9時に実行）
[triggers]
crons = ["0 9 * * 5"]
